@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap");

:root {
  --primary-morado: #60269e;
  --primary-amarillo: #ffcd00;
  --secondary-azul: #005cb9;
  --secondary-turquesa: #00b0ac;
  --secondary-naranja: #ff9e18;
  --terciary-lavanda: #9068bc;
  --terciary-azul: #203b60;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  display: flex;
  box-sizing: border-box;
  place-items: center;
  margin: 0;
  padding: 0;
}

.logo-header {
  width: 120px;
}

body {
  display: grid;
  grid-template-rows: auto;
  font-family: "atma";
  padding: 40px;
  place-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.background {
  background: url("SUCURSAL/sucursal-bg.png");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.text-container {
  margin: 20px auto;
}

.text-container h1 {
  font-size: 48px;
  color: var(--primary-morado);
  text-align: center;
}

.text-container h2 {
  font-family: "gotham";
  font-size: 32px;
  color: var(--secondary-turquesa);
  text-align: center;
}

.sucursales-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: end;
  gap: 40px;
}

.row1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.row2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.container {
  position: relative;
  height: 200px;
}

.layout {
  position: relative;
  margin: auto;
  z-index: 2;
}

.item {
  /* Display */
  display: flex;
  flex-direction: column;

  /* Contenedor */
  height: 180px;
  width: 360px;
  color: #fff;
  padding: 32px;
  border-radius: 20px;
  background: linear-gradient(to top, #60269e, #991bbf);
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 20px;
  z-index: 1;

  /* Font */
  font-family: "gotham";
  font-size: 20px;
  text-align: center;

  /* Efectos */
  transition: 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}
